# EDA

In [1]:
import pandas as pd
import numpy as np

In [2]:
csvfile = "meetings_complete.csv"

In [3]:
df = pd.read_csv(csvfile)

In [4]:
df.head()

,Name,Day,Time,Video,Desc,Categories,Email,Phone
0,1 Hole in the Sky AA Meetings: AA Secular Dail...,Tuesday,5:00 pm,https://zoom.us/j/414948190,Tuesday: AA Secular Daily Reflections 3:00pm P...,"Audio,Open,Video",NaN,NaN
1,AA Friends,Tuesday,5:00 pm,https://aafriends.webs.com/,AA Friends currently holds three online meetin...,"Forum,Open",aafriends@usa.com,NaN
2,AA New Beginnings,Tuesday,5:00 pm,https://us02web.zoom.us/j/5662326551,"A daily meeting that focuses on experience, st...","Audio,Big Book,Discussion,Open,Video",AANewBeginnings230@gmail.com,NaN
3,Agnes Water,Tuesday,5:00 pm,https://us02web.zoom.us/j/8983968244,PW billw,"Big Book,Discussion,Speaker,Video",agneswaterxa@gmail.com,NaN
4,Beginners AA meeting,Tuesday,5:00 pm,https://us02web.zoom.us/j/88198562544?pwd=WFZm...,"Zoom Passcode, if any: serenity","Big Book,Discussion,Open,Speaker,Video",liaazoom2020@gmail.com,NaN

### Transforming

##### Convert 'Time' column to datetime data type

In [5]:
pd.to_datetime(df["Time"]).dt.time

0       17:00:00
1       17:00:00
2       17:00:00
3       17:00:00
4       17:00:00
          ...
4162         NaT
4163         NaT
4164         NaT
4165         NaT
4166         NaT
Name: Time, Length: 4167, dtype: object

In [6]:
# dt.normalize() sets time component to 00:00:00, so here we're subtracting the days
pd.to_datetime(df["Time"]) - pd.to_datetime(df["Time"]).dt.normalize()

0      17:00:00
1      17:00:00
2      17:00:00
3      17:00:00
4      17:00:00
         ...
4162        NaT
4163        NaT
4164        NaT
4165        NaT
4166        NaT
Name: Time, Length: 4167, dtype: timedelta64[ns]

In this case, it may be that the time data would be better analyzed as categorical. But since there is an ordinal component to it ("how many of this earlier in the day or that later in the day?"), let's just save both versions.

In [7]:
df["Time_dt"] = pd.to_datetime(df["Time"]).dt.time
df["Time_del"] = pd.to_datetime(df["Time"]) - pd.to_datetime(df["Time"]).dt.normalize()
df.head()

,Name,Day,Time,Video,Desc,Categories,Email,Phone,Time_dt,Time_del
0,1 Hole in the Sky AA Meetings: AA Secular Dail...,Tuesday,5:00 pm,https://zoom.us/j/414948190,Tuesday: AA Secular Daily Reflections 3:00pm P...,"Audio,Open,Video",NaN,NaN,17:00:00,17:00:00
1,AA Friends,Tuesday,5:00 pm,https://aafriends.webs.com/,AA Friends currently holds three online meetin...,"Forum,Open",aafriends@usa.com,NaN,17:00:00,17:00:00
2,AA New Beginnings,Tuesday,5:00 pm,https://us02web.zoom.us/j/5662326551,"A daily meeting that focuses on experience, st...","Audio,Big Book,Discussion,Open,Video",AANewBeginnings230@gmail.com,NaN,17:00:00,17:00:00
3,Agnes Water,Tuesday,5:00 pm,https://us02web.zoom.us/j/8983968244,PW billw,"Big Book,Discussion,Speaker,Video",agneswaterxa@gmail.com,NaN,17:00:00,17:00:00
4,Beginners AA meeting,Tuesday,5:00 pm,https://us02web.zoom.us/j/88198562544?pwd=WFZm...,"Zoom Passcode, if any: serenity","Big Book,Discussion,Open,Speaker,Video",liaazoom2020@gmail.com,NaN,17:00:00,17:00:00

##### Weekdays are ordered categorical data

In [8]:
from pandas.api.types import CategoricalDtype
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Ongoing']
day_type = CategoricalDtype(categories=days, ordered=True)
df['Day'] = df['Day'].astype(day_type)

##### Create new columns from category labels

In [9]:
all_labels = []
for field in df['Categories']:
    all_labels.extend(field.split(','))
labels = pd.unique(all_labels)
labels

array(['Audio', 'Open', 'Video', 'Forum', 'Big Book', 'Discussion',
       'Speaker', 'Closed', 'Telephone', 'Women',
       'Loners / Isolationists', 'Chat', 'LGBTQIAA+', 'Young People',
       'Men', 'Secular', 'French', 'Steps / Traditions',
       'ASL Interpreter', 'Game', 'Blind / Visually Impaired',
       'Deaf / Hard of Hearing', 'Email', 'Professionals',
       'Openm Discussion. Women', 'Meditation', 'Swedish', 'Seniors',
       'ASL', 'Newcomer', 'Hindi', 'Punjabi', '24/7'], dtype=object)

In [10]:
labels = pd.unique(all_labels)
labels

array(['Audio', 'Open', 'Video', 'Forum', 'Big Book', 'Discussion',
       'Speaker', 'Closed', 'Telephone', 'Women',
       'Loners / Isolationists', 'Chat', 'LGBTQIAA+', 'Young People',
       'Men', 'Secular', 'French', 'Steps / Traditions',
       'ASL Interpreter', 'Game', 'Blind / Visually Impaired',
       'Deaf / Hard of Hearing', 'Email', 'Professionals',
       'Openm Discussion. Women', 'Meditation', 'Swedish', 'Seniors',
       'ASL', 'Newcomer', 'Hindi', 'Punjabi', '24/7'], dtype=object)

**What is this 'Openm Discussion. Women' value?**

In [11]:
df.loc[df['Categories'].str.contains('Openm Discussion. Women')]

,Name,Day,Time,Video,Desc,Categories,Email,Phone,Time_dt,Time_del
240,WHAM-Women Having A Meeting,Tuesday,9:00 pm,https://us02web.zoom.us/j/81398782806,"Other Access Code, if any Passcode: Wom3n","Openm Discussion. Women,Telephone,Video",WHAM.AA@aol.com,16699006833,21:00:00,21:00:00

Looking at the other category labels, we can go out on a limb and assume this one record is supposed to be Open, Discussion, and Women.

In [12]:
df.at[240, 'Categories'] = 'Open,Discussion,Women,Telephone,Tuesday,Video'
df.loc[240]

Name                            WHAM-Women Having A Meeting
Day                                                 Tuesday
Time                                                9:00 pm
Video                 https://us02web.zoom.us/j/81398782806
Desc              Other Access Code, if any Passcode: Wom3n
Categories    Open,Discussion,Women,Telephone,Tuesday,Video
Email                                       WHAM.AA@aol.com
Phone                                           16699006833
Time_dt                                            21:00:00
Time_del                                    0 days 21:00:00
Name: 240, dtype: object

Much better. Hold on, this is supposed to consist of only English-language meetings. What about the other language labels?

In [13]:
other_langs = ['French', 'Swedish', 'Hindi', 'Punjabi']
df.loc[df['Categories'].str.contains('|'.join(other_langs))]

,Name,Day,Time,Video,Desc,Categories,Email,Phone,Time_dt,Time_del
85,Vivre et Laisser Vivre,Tuesday,6:30 pm,https://zoom.us/j/497838842,"+16699006833,,497838842# US (San Jose)","Audio,French,Open,Telephone,Video",NaN,"16465588656,,497838842",18:30:00,18:30:00
347,Swenglish Lunch Meeting,Wednesday,6:00 am,https://zoom.us/j/4554487458,Web Site: https://zoom.us/j/4554487458,Swedish,NaN,NaN,06:00:00,06:00:00
969,Swenglish Lunch Meeting,Thursday,6:00 am,https://zoom.us/j/4554487458,Web Site: https://zoom.us/j/4554487458,Swedish,NaN,NaN,06:00:00,06:00:00
1334,South Asian Group of USA,Thursday,7:00 pm,https://us02web.zoom.us/j/81322055835,Room opens at 7.45 PM and stays Open for Fello...,"Audio,Discussion,Hindi,Open,Speaker,Telephone,...",SouthAsianGroupUSA@gmail.com,6699006833,19:00:00,19:00:00
1552,Swenglish Lunch Meeting,Friday,6:00 am,https://zoom.us/j/4554487458,Web Site: https://zoom.us/j/4554487458,Swedish,NaN,NaN,06:00:00,06:00:00
2135,Swenglish Lunch Meeting,Saturday,6:00 am,https://zoom.us/j/4554487458,Web Site: https://zoom.us/j/4554487458,Swedish,NaN,NaN,06:00:00,06:00:00
2688,Swenglish Lunch Meeting,Sunday,6:00 am,https://zoom.us/j/4554487458,Web Site: https://zoom.us/j/4554487458,Swedish,NaN,NaN,06:00:00,06:00:00
2870,The Serenity Group (Sinnesrogruppen) in Sweden...,Sunday,12:30 pm,https://us02web.zoom.us/j/4040899397,Shares can be in English or Swedish.,"Open,Speaker,Swedish,Video",sinnesro.stockholm@gmail.com,NaN,12:30:00,12:30:00
3243,Swenglish Lunch Meeting,Monday,6:00 am,https://zoom.us/j/4554487458,Web Site: https://zoom.us/j/4554487458,Swedish,NaN,NaN,06:00:00,06:00:00
3468,Monday Punjabi/English Speaker Meeting,Monday,3:00 pm,https://us02web.zoom.us/j/35544906,ਹਰ ਸੋਮਵਾਰ ਨੂੰ GMT ਵਕ਼ਤ ਦੇ ਹਿਸਾਬ ਨਾਲ ਸ਼ਾਮ ਦੇ 8...,"Discussion,Open,Punjabi,Speaker,Video",nomorepretending@outlook.com,NaN,15:00:00,15:00:00
3840,Swenglish Lunch Meeting,Tuesday,6:00 am,https://zoom.us/j/4554487458,Web Site: https://zoom.us/j/4554487458,Swedish,NaN,NaN,06:00:00,06:00:00
4125,aaonlineen.fr,Ongoing,NaN,https://www.aaonlineen.fr,We also have a weekly English F2F meeting in G...,"Video,Audio,Open,24/7,French",webmaster@aaonlineen.fr,NaN,NaT,NaT

While only the Punjabi meeting has a non-English description, half of these only have a website for a description, so who really knows. These rows make up such a small percentage that I am inclined to simply remove them.

In [14]:
nonenglish = df[df['Categories'].str.contains('|'.join(other_langs))]
df.drop(nonenglish.index, inplace=True)

**Back to dummies...**

In [16]:
all_labels = []
for field in df['Categories']:
    all_labels.extend(field.split(','))
labels = pd.unique(all_labels)
labels

array(['Audio', 'Open', 'Video', 'Forum', 'Big Book', 'Discussion',
       'Speaker', 'Closed', 'Telephone', 'Women',
       'Loners / Isolationists', 'Chat', 'LGBTQIAA+', 'Young People',
       'Men', 'Secular', 'Steps / Traditions', 'ASL Interpreter', 'Game',
       'Blind / Visually Impaired', 'Deaf / Hard of Hearing', 'Email',
       'Professionals', 'Tuesday', 'Meditation', 'Seniors', 'ASL',
       'Newcomer', '24/7'], dtype=object)

In [17]:
df['Categories'][0].split(',')

['Audio', 'Open', 'Video']

In [18]:
zero_matrix = np.zeros((len(df), len(labels)))
dummies = pd.DataFrame(zero_matrix, columns=labels)

In [19]:
dummies.columns

Index(['Audio', 'Open', 'Video', 'Forum', 'Big Book', 'Discussion', 'Speaker',
       'Closed', 'Telephone', 'Women', 'Loners / Isolationists', 'Chat',
       'LGBTQIAA+', 'Young People', 'Men', 'Secular', 'Steps / Traditions',
       'ASL Interpreter', 'Game', 'Blind / Visually Impaired',
       'Deaf / Hard of Hearing', 'Email', 'Professionals', 'Tuesday',
       'Meditation', 'Seniors', 'ASL', 'Newcomer', '24/7'],
      dtype='object')

In [20]:
dummies.columns.get_indexer(['Tuesday', 'Thursday', 'Snap'])

array([23, -1, -1])

### Describing

In [21]:
df.shape

(4155, 10)

In [22]:
df["Time_del"].min(), df["Time_del"].max(), df["Time_del"].mean(), df["Time_del"].mode()

(Timedelta('0 days 00:00:00'),
 Timedelta('0 days 23:59:00'),
 Timedelta('0 days 14:10:38.357037'),
 0   19:00:00
 dtype: timedelta64[ns])

In [23]:
# Remember these outliers & make histogram
df['Time_del'].value_counts()

19:00:00    327
11:00:00    278
20:00:00    255
18:00:00    255
21:00:00    212
           ...
16:02:00      1
17:15:00      1
21:03:00      1
03:30:00      1
01:55:00      1
Name: Time_del, Length: 84, dtype: int64

In [24]:
df["Day"].value_counts()

Wednesday    625
Monday       596
Friday       590
Tuesday      589
Thursday     578
Saturday     556
Sunday       544
Ongoing       77
Name: Day, dtype: int64